    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2> About DIREQT2Heart </h2>
              <br/>
                <p>A DIRect QuanTitative assessment of Heart disease with magnetic resonance imaging.
                  It is a project that Prompt diagnosis of coronary heart disease to prevent early mortality.
                  The consortium is led by Teresa Matias Correia from <a href="https://www.ccmar.ualg.pt/">CCMAR</a> and
                  includes Rita Nunes from Associação do Instituto Superior Técnico para a Investigação e Desenvolvimento
                  <a href="https://welcome.isr.tecnico.ulisboa.pt/">(ISR)</a>,
                   Carlos Alberola-López from University of Valladolid and
                   Borja Ibáñez from Centro Nacional de Investigaciones Cardiovasculares Carlos
                   III <a href="https://www.cnic.es/en/">(CNIC)</a>.
              </div>
        </div>
    </section>
