
<!-- Publications Section -->
<section id="publications" class="container ">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Publications 📰</h2>
                    <div class="lead"><p>DIREQT2Heart’s journal publications and conference proceedings </p>
</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/services/publications.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
  <h4>Journal paper</h4>
    <div class="row">
        <div class="col-lg-12 col-lg">
            <br/>

            <p> E Moya-Sáez, RM Menchón-Lara, J Sánchez-González, CN Carvaho, A Gaspar, C Real, C Galán-Arriola, RG Nunes, B Ibanez, TM Correia, C Alberola-López. K-CC-MoCo: a fast k-space-based respiratory motion correction for highly accelerated first-pass perfusion cardiovascular MR. Magn Reson Med 2026; In press. <a href="https://doi.org/10.1002/mrm.70287">https://doi.org/10.1002/mrm.70287</a>.

             <p> P Villacorta-Aylagas, CA Castillo-Passi, R Anders Kierulf, RM Menchón-Lara, JR. Rodríguez-Galván, JB Sierra-Pallares, P Irarrázaval, C Alberola-López. Versatile and Highly Efficient MRI Simulation of Arbitrary Motion in KomaMRI. Magn Reson Med 2025; 95(3):1791-1803. <a href="https://doi.org/10.1002/mrm.70145">https://doi.org/10.1002/mrm.70145</a>.

            <p> B Bravo-Kunz, N Garrido, C Alberola-López, P Irarrázaval. Undistorted MRI B0 fieldmap estimation using an augmented space. Magn Reson Imaging 2025; 123:110462. <a href="https://doi.org/10.1016/j.mri.2025.110462">https://doi.org/10.1016/j.mri.2025.110462</a>.

            <p> E Moya-Sáez, R de Luis-García, L Nunez-Gonzalez, C Alberola-López, JA Hernández-Tamames. Brain tumor enhancement prediction from pre-contrast conventional weighted images using synthetic multiparametric mapping and generative artificial intelligence. Quant Imaging Med Surg 2025; 15(1):42-54. <a href="https://doi.org/doi: 10.21037/qims-24-721">https://doi.org/doi: 10.21037/qims-24-721</a>.

            <p> V Fuster, A García-Álvarez, A Devesa, V Mass, R Owen, A Quesada, JJ. Fuster, I García-Lunar, S Pocock, J Sánchez-González, S Sartori, C Peyra, V Andres, P Muntendam, and B Ibanez. Influence of Subclinical Atherosclerosis Burden and Progression on Mortality. J Am Coll Cardiol 2014; 84(15):1391-1403. <a href="https://doi.org/10.1016/j.jacc.2024.06.045">https://doi.org/10.1016/j.jacc.2024.06.045</a>.

            <p> A Devesa, V Fuster, I García-Lunar, B Oliva, A García-Alvarez, A Moreno-Arciniegas, R Vazirani, C Pérez-Herreras, P Marina, H Bueno, L Fernández-Friera, A Fernández-Ortiz, J Sanchez-Gonzalez, B Ibanez. Coronary Microvascular Function in Asymptomatic Middle-Aged Individuals With Cardiometabolic Risk Factors. JACC Cardiovasc Imaging 2024; S1936-878X(24):00342-5. <a href="https://doi.org/10.1016/j.jcmg.2024.08.002">https://doi.org/10.1016/j.jcmg.2024.08.002</a>.

            <p> R Párraga, C Real, R Fernández-Jiménez. Cardiovascular magnetic resonance in the working diagnosis of MINOCA: the sooner, the better?. Rev Esp Cardiol (Engl Ed.) 2024; 77(7):524-526. <a href="https://doi.org/10.1016/j.rec.2023.12.013">https://doi.org/10.1016/j.rec.2023.12.013</a>.

            <p> A Gaspar, NA Silva, AM Ferreira, RG Nunes. Repeatability of Open-MOLLI: An open-source inversion recovery myocardial T1 mapping sequence for fast prototyping. Magn Reson Med. 2024; 92: 741-750. <a href="https://doi.org/10.1002/mrm.30080">https://doi.org/10.1002/mrm.30080</a>.

              <p> A Binek, C Castans, I Jorge, N Bagwan, JM Rodríguez, R Fernández-Jiménez, C Galán-Arriola, E Oliver, M Gómez, A Clemente-Moragón, et al. Oxidative Post-translational Protein Modifications upon Ischemia/Reperfusion Injury. Antioxidants. 2024; 13(1):106. <a href="https://doi.org/10.3390/antiox13010106">https://doi.org/10.3390/antiox13010106</a>.

              <p> T Correia. Inteligência artificial na ressonância magnética cardíaca – o impulso que faltava? LIFESAVING Magazine #29 <a href="https://doi.org/10.5281/zenodo.10418257">https://doi.org/10.5281/zenodo.10418257</a>.

              <p>   M Obando, A Bassi, N Ducros, G Mato, Teresa M. Correia. ToMoDL: A model-based deep learning framework for optical projection tomography. <a href="https://doi.org/10.21203/rs.3.rs-3318045/v1">https://doi.org/10.21203/rs.3.rs-3318045/v1</a>.

              <p>   M Obando, A Bassi, N Ducros, G Mato, Teresa M. Correia. Model-based deep learning framework for accelerated optical projection tomography. Sci Rep 13, 21735 (2023).   <a href="https://doi.org/10.1038/s41598-023-47650-3">https://doi.org/10.1038/s41598-023-47650-3</a>.</p>

            <!-- T Ismail, W Strugnell, C Coletti, M Božic-Iven, S Weingärtner, K Hammernik, T Correia<sup>†</sup>, T Küstner<sup>†</sup>. Cardiac MR: From Theory to Practice <em>Front Cardiovasc Med</em> 9, 826283 (2022). <a href="https://doi.org/10.3389/fcvm.2022.826283">https://doi.org/10.3389/fcvm.2022.826283</a></p> -->

            <br/>
          </div>
    </div>

    <h4>Conference Proceedings</h4>
    <div class="row">
        <div class="col-lg-12 col-lg">
            <br/>

            <p> J Santinha, et al. End-to-end AI assessment of myocardial viability: a deep learning and radiomics pipeline for reproducible and automated evaluation of myocardial infarction and microvascular obstruction. 20th European Molecular Imaging Meeting (EMIM). Annual meeting of the European Society for Molecular Imaging (ESMI), Bilbao, Spain PS 10-02 (2025). </p>
            <p> T Correia. Stress Cardiac MR Perfusion: Challenges & New Directions. ISMRM Workshop on Perfusion MRI: Found in Translation, Pamplona (2025). </p>
            <p> J Santos, et al. DeepPlanner4Cardio: an automatic multi-view planning tool for CMR. 33rd International Society for Magnetic Resonance in Medicine (ISMRM), Honolulu, Hawaii, 1966 (2025). </p>
            <p> J Santinha, et al. Combining deep learning and radiomics for a fully automated and reproducible assessment of myocardial viability. 33rd International Society for Magnetic Resonance in Medicine (ISMRM), Honolulu, Hawaii, 4182 (2025). </p>
            <p> J Santinha, et al. Counterfactual MRI Data Augmentation using Conditional Denoising Diffusion Models: training AI for different clinical scenarios. 33rd International Society for Magnetic Resonance in Medicine (ISMRM), Honolulu, Hawaii, 3247 (2025). </p>
            
            <p> T Correia. Quantification of Cardiac Perfusion During Rest & Stress (Before & After Fado/Samba) Quantificação De Perfusão Cardíaca Em Repouso E Esforço (Depois Do Fado E Samba). ISMRT Education Session Session - Multilingual Session: Portugal & Brazil. 33rd International Society for MR Radiographers & Technologists (ISMRT) a Section of the ISMRM, Honolulu, Hawaii (2025). <a href=" https://doi.org/10.5281/zenodo.14277463">https://doi.org/10.5281/zenodo.14277463</a>  </p>
            <p> E Moya-Sáez, et al. A motion-corrected reconstruction for highly undersampled perfusion CMR. 5th ISMRM Iberian Chapter Meeting  3-4 July, Barcelona, Spain, P2 (2025). <a href=" https://doi.org/10.5281/zenodo.176740273">https://doi.org/10.5281/zenodo.17674027</a>  </p>
            <p> E Moya-Sáez, et al. K-CC-MoCo: A fast respiratory motion correction in coil-compressed K-space for highly accelerated first-pass perfusion cardiac MRI. 33rd International Society for Magnetic Resonance in Medicine (ISMRM), 9-12 May, Honolulu, Hawaii, 0029 (2025). <a href=" https://doi.org/10.5281/zenodo.17674385">https://doi.org/10.5281/zenodo.17674385</a>  </p>
            <p> C Carvalho, et al. Accelerated EPG-based myocardial T1 mapping with PENGUIN. ISMRM Iberian Chapter Meeting  3-4 July, Barcelona, Spain (2025). <a href=" https://doi.org/10.5281/zenodo.17295286">https://doi.org/10.5281/zenodo.17295286</a>  </p>
            <p> C Carvalho, et al. Accelerated and Accurate Myocardial T1 Mapping with PENGUIN: Combining Deep Learning with Extended Phase Graph Modeling. 33rd International Society for Magnetic Resonance in Medicine (ISMRM), 9-12 May, Honolulu, Hawaii, Abstract  1665 (2025). <a href=" https://doi.org/10.5281/zenodo.17296934">https://doi.org/10.5281/zenodo.17296934</a>  </p>
            <p> A Gaspar, et al.  Open-MOLLI for All: Advancing Open-Source, Vendor-Agnostic T1-mapping One System at a Time, Now on GE! Iberian Chapter Meeting  3-4 July, Barcelona, Spain (2025).<a href=" https://doi.org/10.5281/zenodo.15857424">https://doi.org/10.5281/zenodo.15857424/a>  </p>
            <p> A Gaspar, et al.  Cardiac T1-mapping using Open-MOLLI at 3T: a repeatability study. 33rd International Society for Magnetic Resonance in Medicine (ISMRM), 9-12 May, Honolulu, Hawaii, Abstract  1665 (2025). <a href=" https://doi.org/10.5281/zenodo.15857134">https://doi.org/10.5281/zenodo.15857134</a>  </p>
            <p> A Gaspar, et al.  In vivo T1-mapping using Open-MOLLI in GE scanners. 33rd International Society for Magnetic Resonance in Medicine (ISMRM), 9-12 May, Honolulu, Hawaii, Abstract  1967 (2025). <a href=" https://doi.org/10.5281/zenodo.15857339">https://doi.org/10.5281/zenodo.15857339</a>  </p>
            <p> E Moya-Sáez, et al. Exogenous Agent-Free Synthetic Post-Contrast Imaging with a Cascade of Deep Networks for Enhancement Prediction after Tumor Resection. A Parametric-Map Oriented Approach.  Simulation and Synthesis in Medical Imaging. SASHIMI 2024, 10 October, Marrakesh, Morocco (2024). <a href=" https://doi.org/10.1007/978-3-031-73281-2_11">https://doi.org/10.1007/978-3-031-73281-2_11</a>  </p>
            <p> A Gaspar, et al. Evaluating the repeatability of myocardial T1 mapping using Open-MOLLI at 3T. ESMRMB Annual Scientific Meeting, 3-5 October, Barcelona, Spain, Abstract 431 (2024). <a href=" https://doi.org/10.5281/zenodo.14277463">https://doi.org/10.5281/zenodo.14277463</a>  </p>
            <p> E Moya-Sáez, et al. K-MoCo: a k-space rigid motion correction approach for first-pass perfusion cardiac MR. ESMRMB Annual Scientific Meeting, 3-5 October, Barcelona, Spain, Abstract 226 (2024). <a href=" https://doi.org/10.5281/zenodo.14275989">https://doi.org/10.5281/zenodo.14275989</a>  </p>
            
            <p> T Olausson, et al. Time-Resolved Cardiac function: Myocardium Strain and First-Pass Perfusion Using MR-MOTUS. 32nd International Society for Magnetic Resonance in Medicine (ISMRM), 4-9 May, Singapore, Abstract 0629 (2024).</p>
            <p> J Santinha, Correia T. Radiomics Predictive Model of Myocardial Infarction and Microvascular Obstruction. 4th ISMRM Iberian Chapter Annual Meeting, 2-3 July, Porto, Portugal, P61 (2024).</p>
            <p> J Santos, et al. Development of a deep-learning tool for automatic Cardiac CMR planning.  4th ISMRM Iberian Chapter Annual Meeting, 2-3 July, Porto, Portugal, P59 (2024).</p>
            <p> M Amil, et al. Accelerating Cardiac Magnetic Resonance T1-Mapping using an Efficient Deep Learning Reconstruction. 4th ISMRM Iberian Chapter Annual Meeting, 2-3 July, Porto, Portugal, P55 (2024).</p>
            <p> A Gaspar, et al. T1 mapping with radial Open-MOLLI. 4th ISMRM Iberian Chapter Annual Meeting, 2-3 July, Porto, Portugal, P40 (2024). <a href=" https://doi.org/10.5281/zenodo.12822081">https://doi.org/10.5281/zenodo.12822081</a>  </p>
            <p> C Carvalho, et al. Accelerated MRI Parametric Mapping with PENGUIN. 4th ISMRM Iberian Chapter Annual Meeting, 2-3 July, Porto, Portugal, O1 (2024).</p>

            <p> E Moya-Sáez, et al. A comparative analysis of different respiratory motion correction approaches in free-breathing first-pass perfusion cardiac MR. 4th ISMRM Iberian Chapter Annual Meeting, 2-3 July, Porto, Portugal, P48 (2024). <a href=" https://doi.org/10.5281/zenodo.12636351">https://doi.org/10.5281/zenodo.12636351</a>  </p>
            <p> P Villacorta-Aylagas, et al. A KomaMRI Phantom Extension for Integrated Dynamic Imaging.  32nd International Society for Magnetic Resonance in Medicine (ISMRM), 4-9 May, Singapore, Abstract 4684 (2024). <a href=" https://doi.org/10.5281/zenodo.12518906">https://doi.org/10.5281/zenodo.12518906</a>  </p>

            <p> J Santinha, Correia T. RAMI: Radiomics Predictive Model of Myocardial Infarction and Microvascular Obstruction.  32nd International Society for Magnetic Resonance in Medicine (ISMRM), 4-9 May, Singapore, Abstract 3386 (2024). <a href=" https://doi.org/10.5281/zenodo.12082316">https://doi.org/10.5281/zenodo.12082316</a>  </p>
            <p> A Gaspar, et al. Test-retest of open-source inversion recovery myocardial T1 mapping sequence (Open-MOLLI) for fast prototyping. 19th European Molecular Imaging Meeting (EMIM), 12-15 March, Porto, Portugal, Abstract TECH-052 (2024). <a href=" https://doi.org/10.5281/zenodo.12825303">https://doi.org/10.5281/zenodo.12825303</a>  </p>

            <p> E Moya-Sáez, et al.Post-contrast multi-parametric mapping from only pre-contrast conventional weighted images. 32nd International Society for Magnetic Resonance in Medicine (ISMRM), 4-9 May, Singapore, Abstract 2809 (2024). <a href=" https://doi.org/10.5281/zenodo.11959314">https://doi.org/10.5281/zenodo.11959314</a>  </p>
            <p> C Carvalho, et al. Integrating Quantitative Mapping into Physics-Based Deep Learning for Improved Accelerated Image Reconstruction. 32nd International Society for Magnetic Resonance in Medicine (ISMRM), 4-9 May, Singapore, Abstract 4505 (2024). <a href=" https://doi.org/10.5281/zenodo.11507013">https://doi.org/10.5281/zenodo.11507013</a>  </p>
            <p> MA Martín-Fernández, P Irarrazaval, C Castillo-Passi, C Alberola-López. Optimal isochromat frequencies for T2* spin-level simulation. ESMRMB  annual meeting P229 (2023). <a href=" https://doi.org/10.5281/zenodo.12581159">https://doi.org/10.5281/zenodo.12581159</a>  </p>

            <p> E Moya-Sáez, et al. Deep learning-based post-contrast imaging free of exogenous contrast agents.  3rd ISMRM Iberian Chapter Annual Meeting, 3-5 July, Valladolid, Spain,  P1.13 (2023). <a href=" https://doi.org/10.5281/zenodo.11658280">https://doi.org/10.5281/zenodo.11658280</a>  </p>


            <p> M Ángel Martín-Fernández, P Irarrazaval, C Castillo-Passi, C Alberola-López. Efficient T2* spin-level simulation. 3rd ISMRM Iberian Chapter meeting,P2.9 (2023). <a href=" https://doi.org/10.5281/zenodo.12581250">https://doi.org/10.5281/zenodo.12581250</a>  </p>

            <!--<p>  E Moya-Sáez,R Luis-García, C Alberola-López, J Hernández-Tamames. Deep learning-based post-contrast imaging free of exogenous contrast agents. 3rd ISMRM Iberian Chapter meeting, P1.13 (2023). 04/07/2023-->

    <!--<p>   Pre and Post contrast Simultaneous Parametric Mapping of Glioblastomas from T1w images  -->

            <p> J Rodríguez-Galván, S Merino-Caviedes, D Filgueiras-Rama, J Sánchez-González, A Tristán-Vega, C Alberola-López. Beyond DTI: Higher order models in Cardiac dMRI. 3rd ISMRM Iberian Chapter meeting, P1.16 (2023). <a href=" https://doi.org/10.5281/zenodo.12533094">https://doi.org/10.5281/zenodo.12533094</a>  </p>


            <p> J Rodríguez-Galván, S Merino-Caviedes, D Filgueiras-Rama, J Sánchez-González, A Tristán-Vega, C Alberola-López. Applying diffusion signal representation further than DTI improves cardiac dMRI insights. 31th ISMRM meeting (2023).  <a href=" https://doi.org/10.5281/zenodo.12532904">https://doi.org/10.5281/zenodo.12532904</a>  </p>

            <p> A Gaspar, N ASilva, A Ferreira, R Nunes. Repeatability of Open-source inversion recovery myocardial T1 mapping sequence (Open-MOLLI) for fast prototyping.3rd ISMRM Iberian Chapter meeting (2023). <a href=" https://doi.org/10.5281/zenodo.13771874">https://doi.org/10.5281/zenodo.13771874</a>  </p>

            <p> C Carvalho, R Nunes, T Correia. Diving into Extended Phase Graph-based Deep Learning for Accurate and Fast T2 Mapping with PENGUIN. 3rd ISMRM Iberian Chapter meeting (2023). <a href=" https://doi.org/10.5281/zenodo.10413035">https://doi.org/10.5281/zenodo.10413035</a>.  </p>

            <p> A Gaspar, N ASilva, A Ferreira, R Nunes. Repeatability of ProMyoT1: an open-source inversion recovery myocardial T1 mapping sequence for fast prototyping. 31th ISMRM meeting. (2023). <a href=" https://welcome.isr.tecnico.ulisboa.pt/wp-content/uploads/2023/03/ISMRM2023_abstract_AndreiaGaspar_Repeatability.pdf">PDF</a>
            <p> T Correia. MR Techniques for Quantifying Myocardial Perfusion. 31th ISMRM meeting, 4505. (2023).  <a href=" https://doi.org/10.5281/zenodo.10418111">https://doi.org/10.5281/zenodo.10418111</a>

            <p> C Carvalho, R Nunes, T Correia. Diving into Extended Phase Graph-based Deep Learning for accurate T2 mapping with PENGUIN. 31th ISMRM meeting, 1090 (2023). <a href=" https://doi.org/10.5281/zenodo.10413082">https://doi.org/10.5281/zenodo.10413082</a>  </p>
            <p> Moya-Sáez E, et al.Pre and Post contrast Simultaneous Parametric Mapping of Glioblastomas from T1w images for Quantitative Enhancement Assessment. 31st International Society for Magnetic Resonance in Medicine (ISMRM), 3-8 June, Toronto, Canada, Abstract 2352 (2023).

            <p> P Osório, M Henningsson, H Alberto Gomez, R Nunes, T Correia. DeepCardioPlanner: Deep Learning-based tool for automatic CMR planning. 31th ISMRM meeting, 5134 (2023). <a href=" https://doi.org/10.5281/zenodo.10419711">https://doi.org/10.5281/zenodo.10419711</a>  </p>

            <p> E Martín-González, E Alskaf, A Chiribiri, P Casaseca-de-la-Higuera, C Alberola-López, R Nunes, T Correia. The deep SECRET to accelerated first-pass perfusion cardiac MRI. 30th ISMRM meeting, 299 (2022). </p>
            <br/>
        </div>
  </div>


  <h4>Oral Presentations</h4>
  <div class="row">
      <div class="col-lg-12 col-lg">
          <br/>

          <p> R Nunes. Open-Source T1 mapping. Society for Cardiovascular Magnetic Resonance 28th Annual Scientific Sessions, Special Interest Group: Parametric Mapping, Washington, USA (2025). </p>
          <p> R Nunes. Aiming for accessible and reproducible myocardial T1-mapping using Pulseq. Member-Initiated Symposium "Open Innovation in MR from Vendor’s and Academia Perspective". 33rd Annual Meeting of the International Society for Magnetic Resonance in Medicine, Honolulu, USA (2025). </p>
          <p> R Nunes. Curso de Programação de Sequências de Pulso. 1st Annual Meeting of the Brazilian Chapter of the ISMRM, São Paulo, Brazil (2025). </p>
          <p> R Nunes. The heart of the matter: AI and Open Science in quantitative Cardiac MRI. 1st Annual Meeting of the Brazilian Chapter of the ISMRM, São Paulo, Brazil (2025). </p>
          <p> R Nunes. Pulseq step-by-step sequence implementation. Open-Source MRI Sequence Programming Workshop, Translational Imaging Center, Bern, Switzerland (2025). </p>
          <p> T Correia. Fast and Smart Scans: Advances in MRI, Optical Imaging, and the Role of AI. Seminario Gabriella Morreale, Instituto de Investigaciones Biomédicas Sols-Morreale (IIBM), 26 Sept, Madrid, Spain, Invited Talk (2025). </p>
          <p> T Correia. Quantification Of Cardiac Perfusion During Rest & Stress (Before & After Fado/Samba), Multilingual Session: Portugal & Brazil. ISMRT Annual Meeting, 34th International Society for Magnetic Resonance in Medicine (ISMRM) meeting, 11 May, Honolulu, Hawaiʻi, USA, Invited Talk (2025).</p>
          <p> T Correia. AI in biological and medical imaging, AIA - Artificial Intelligence Algarve, Algarve Evolution, UAlg Tech Campus, Campus da Penha, 15 Apr, Faro, Portugal,  Invited Talk (2025). </p>
          <p> T Correia. No time to waste faster optical imaging and MRI scans”, Computational Techniques and Imaging Innovations in the Age of AI Workshop,  2 Apr, London, UK, Invited Talk (2025). </p>
          <p> T Correia. Artificial Intelligence & Machine Learning for Molecular Imaging. 20th Annual Meeting of the European Society for Molecular Imaging (EMIM), 12 Mar, Bilbao, Spain,  Invited Talk (2025). </p>
          <p> T Correia. Perfusion Techniques: Acquisition, Analysis, and Artifacts. Physician's Preconference 2- LGE and Ischemic Heart Disease, 28th Society for Cardiovascular Magnetic Resonance Annual Meeting, 29 Jan, Washington DC, USA, Invited Talk (2025).</p>
          <p> E Moya-Saez. Deep learning synthetic MRI in neuro-oncology, 10th GREC (Gadolinium Research & Education Committee) - ESMRMB Pre-congress meeting, 8 October, Marseille, France, Invited Talk (2025). </p>
          <p> E Moya-Saez. K-CC-MoCo: A fast respiratory motion correction in coil-compressed K-space for highly accelerated first-pass perfusion cardiac MRI. 33rd International Society for Magnetic Resonance in Medicine (ISMRM), 5 May, Honolulu, Hawaii, USA(2025). </p>
          <p> C Carvalho. Accelerated and Accurate Myocardial T1 Mapping with PENGUIN: Combining Deep Learning with Extended Phase Graph Modeling, 33th International Society for Magnetic Resonance in Medicine (ISMRM), 14 May, Honolulu, Hawaii, USA (2025). </p>
          <p> A Gaspar. MR Sequence fundamentals using Pulseq, 33rd International Society for Magnetic Resonance in Medicine (ISMRM), 5 May, Honolulu, Hawaii, USA, Invited Talk (2025). </p>
          <p> T Correia. Stress Cardiac MR Perfusion: Challenges & New Directions, ISMRM Workshop on Perfusion MRI: Found in Translation, 15 Mar, Pamplona, Spain. Invited Talk (2025). </p>
          
          <p> A Gaspar. Standardization of quantitative MRI with open-source pulse programming. MRITogether 2024, 6 December, Online, Invited Talk (2024).</p>
          <p> A Gaspar, Evaluating the repeatability of myocardial T1 mapping using Open-MOLLI at 3T. European Society for Magnetic Resonance in Medicine and Biology (ESMRMB) Annual Meeting, 4 October, Barcelona, Spain (2024). </p>
          <p> T Correia. Status quo e futuras perspetivas da Ressonância Magnética na investigação científica, ABC IMAGING LAB, 27 Sept, Loule, Portugal, Invited Talk (2024). </p>
          <p> T Correia. Harnessing cardiac MRI for quantitative assessment of coronary heart disease, European Society for Magnetic Resonance in Medicine and Biology (ESMRMB) Annual Meeting, 4 Oct, Barcelona, Spain, Invited Talk (2024). </p>
          <p> R Nunes. Aiming for accessible and reproducible cardiac T1 mapping, UCL seminar, 18 June, London, UK, Invited Talk (2024). </p>
          <p> R Nunes. Aiming for accessible and fast quantitative Magnetic Resonance Imaging, Hospital da Luz Learning Health, Artificial Intelligence in Healthcare, 16 May, Lisbon, Portugal, Invited Talk (2024). </p>
          <p> R Nunes. Data Sampling and Reconstruction, ISMRM Global Outreach Workshop, 10 -12 May, Bangkok, Thailand, Invited Talk (2024). </p>
          <p> R Nunes. Aiming for accessible and truly reproducible quantitative Magnetic Resonance Imaging, FCUL Seminar, 27 March, Lisbon, Portugal, Invited Talk (2024). </p>
          <p> T Olausson T, et al. Time-Resolved Cardiac function: Myocardium Strain and First-Pass Perfusion Using MR-MOTUS. 32nd International Society for Magnetic Resonance in Medicine (ISMRM), 7 May, Singapore (2024). </p>
          <p> T Correia. CMR 2024 Physician's Preconference - Reconstruction (Fast Imaging: Parallel Imaging & Acceleration). CMR 2024 Global CMR Conference, QEII Centre, 24 Jan, London, UK, Invited Talks (2024). </p>
          <p> C Carvalho. Accelerated MRI Parametric Mapping with PENGUIN. 4th ISMRM Iberian Chapter Annual Meeting, 2 July, Porto, Portugal, O1 (2024). </p>
          <p> T Correia. The need for speed: accelerating cardiac magnetic resonance exams and beyond. 19th European Molecular Imaging Meeting (EMIM), 12-15 March, Porto, Portugal, Abstract Welcome to Portugal!-03 (2024). </p>
          <p> T Correia. RAMI: Radiomics for LGE Assessment of Myocardial Infarction and Microvascular Obstruction, CMR 2024 Global CMR Conference, QEII Centre, 25 January, London, UK, CMR 2-58 (2024). </p>
          <p> C Carvalho. Improving Accelerated MRI Reconstruction and Parametric Mapping with PENGUIN.19th European Molecular Imaging Meeting (EMIM), 12-15 March, Porto, Portugal,  PS 22-03 (2024). </p>
          <p> T Correia. Cardiac Perfusion MRI. ISMRM British & Irish Chapter MR Education Series, 12 December, Invited Talk (2023) </p>
          <p> A Gaspar, N ASilva, A Ferreira, R Nunes. Repeatability of Open-source inversion recovery myocardial T1 mapping sequence (Open-MOLLI) for fast prototyping.  3rd ISMRM Iberian Chapter Annual Meeting, 5 July, Valladolid, Spain, 02.3 (2023). </p>
          <p> T Correia. MR Techniques for Quantifying Myocardial Perfusion. 31st International Society for Magnetic Resonance in Medicine (ISMRM), 5 June, Toronto, Canada, Invited Talk (2023) </p>
          <p> C Carvalho, R Nunes, T Correia. Diving into Extended Phase Graph-based Deep Learning for accurate T2 mapping with PENGUIN.  31st International Society for Magnetic Resonance in Medicine Meeting (ISMRM), 7 June, Toronto, Canada, #1090 (2023). <a href="https://doi.org/10.5281/zenodo.10413082">https://doi.org/10.5281/zenodo.10413082</a>  </p>


        </div>
  </div>

</section>
