
<!-- Publications Section -->
<section id="publications" class="container ">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Publications 📰</h2>
                    <div class="lead"><p>DIREQT2Heart’s journal publications and conference proceedings </p>
</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/services/publications.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
  <h4>Journal paper</h4>
    <div class="row">
        <div class="col-lg-12 col-lg">
            <br/>

            <p> E Moya-Sáez, RM Menchón-Lara, J Sánchez-González, CN Carvaho, A Gaspar, C Real, C Galán-Arriola, RG Nunes, B Ibanez, TM Correia, C Alberola-López. K-CC-MoCo: a fast k-space-based respiratory motion correction for highly accelerated first-pass perfusion cardiovascular MR. Magn Reson Med 2026; In press. <a href="https://doi.org/10.1002/mrm.70287">https://doi.org/10.1002/mrm.70287</a>.

             <p> P Villacorta-Aylagas, CA Castillo-Passi, R Anders Kierulf, RM Menchón-Lara, JR. Rodríguez-Galván, JB Sierra-Pallares, P Irarrázaval, C Alberola-López. Versatile and Highly Efficient MRI Simulation of Arbitrary Motion in KomaMRI. Magn Reson Med 2025; 95(3):1791-1803. <a href="https://doi.org/10.1002/mrm.70145">https://doi.org/10.1002/mrm.70145</a>.

            <p> B Bravo-Kunz, N Garrido, C Alberola-López, P Irarrázaval. Undistorted MRI B0 fieldmap estimation using an augmented space. Magn Reson Imaging 2025; 123:110462. <a href="https://doi.org/10.1016/j.mri.2025.110462">https://doi.org/10.1016/j.mri.2025.110462</a>.

            <p> E Moya-Sáez, R de Luis-García, L Nunez-Gonzalez, C Alberola-López, JA Hernández-Tamames. Brain tumor enhancement prediction from pre-contrast conventional weighted images using synthetic multiparametric mapping and generative artificial intelligence. Quant Imaging Med Surg 2025; 15(1):42-54. <a href="https://doi.org/doi: 10.21037/qims-24-721">https://doi.org/doi: 10.21037/qims-24-721</a>.

            <p> V Fuster, A García-Álvarez, A Devesa, V Mass, R Owen, A Quesada, JJ. Fuster, I García-Lunar, S Pocock, J Sánchez-González, S Sartori, C Peyra, V Andres, P Muntendam, and B Ibanez. Influence of Subclinical Atherosclerosis Burden and Progression on Mortality. J Am Coll Cardiol 2014; 84(15):1391-1403. <a href="https://doi.org/10.1016/j.jacc.2024.06.045">https://doi.org/10.1016/j.jacc.2024.06.045</a>.

            <p> A Devesa, V Fuster, I García-Lunar, B Oliva, A García-Alvarez, A Moreno-Arciniegas, R Vazirani, C Pérez-Herreras, P Marina, H Bueno, L Fernández-Friera, A Fernández-Ortiz, J Sanchez-Gonzalez, B Ibanez. Coronary Microvascular Function in Asymptomatic Middle-Aged Individuals With Cardiometabolic Risk Factors. JACC Cardiovasc Imaging 2024; S1936-878X(24):00342-5. <a href="https://doi.org/10.1016/j.jcmg.2024.08.002">https://doi.org/10.1016/j.jcmg.2024.08.002</a>.

            <p> R Párraga, C Real, R Fernández-Jiménez. Cardiovascular magnetic resonance in the working diagnosis of MINOCA: the sooner, the better?. Rev Esp Cardiol (Engl Ed.) 2024; 77(7):524-526. <a href="https://doi.org/10.1016/j.rec.2023.12.013">https://doi.org/10.1016/j.rec.2023.12.013</a>.

            <p> A Gaspar, NA Silva, AM Ferreira, RG Nunes. Repeatability of Open-MOLLI: An open-source inversion recovery myocardial T1 mapping sequence for fast prototyping. Magn Reson Med. 2024; 92: 741-750. <a href="https://doi.org/10.1002/mrm.30080">https://doi.org/10.1002/mrm.30080</a>.

              <p> A Binek, C Castans, I Jorge, N Bagwan, JM Rodríguez, R Fernández-Jiménez, C Galán-Arriola, E Oliver, M Gómez, A Clemente-Moragón, et al. Oxidative Post-translational Protein Modifications upon Ischemia/Reperfusion Injury. Antioxidants. 2024; 13(1):106. <a href="https://doi.org/10.3390/antiox13010106">https://doi.org/10.3390/antiox13010106</a>.

              <p> T Correia. Inteligência artificial na ressonância magnética cardíaca – o impulso que faltava? LIFESAVING Magazine #29 <a href="https://doi.org/10.5281/zenodo.10418257">https://doi.org/10.5281/zenodo.10418257</a>.

              <p>   M Obando, A Bassi, N Ducros, G Mato, Teresa M. Correia. ToMoDL: A model-based deep learning framework for optical projection tomography. <a href="https://doi.org/10.21203/rs.3.rs-3318045/v1">https://doi.org/10.21203/rs.3.rs-3318045/v1</a>.

              <p>   M Obando, A Bassi, N Ducros, G Mato, Teresa M. Correia. Model-based deep learning framework for accelerated optical projection tomography. Sci Rep 13, 21735 (2023).   <a href="https://doi.org/10.1038/s41598-023-47650-3">https://doi.org/10.1038/s41598-023-47650-3</a>.</p>

            <!-- T Ismail, W Strugnell, C Coletti, M Božic-Iven, S Weingärtner, K Hammernik, T Correia<sup>†</sup>, T Küstner<sup>†</sup>. Cardiac MR: From Theory to Practice <em>Front Cardiovasc Med</em> 9, 826283 (2022). <a href="https://doi.org/10.3389/fcvm.2022.826283">https://doi.org/10.3389/fcvm.2022.826283</a></p> -->

            <br/>
          </div>
    </div>

    <h4>Conference Proceedings</h4>
    <div class="row">
        <div class="col-lg-12 col-lg">
            <br/>

            <p> Olausson T, et al. Time-Resolved Cardiac function: Myocardium Strain and First-Pass Perfusion Using MR-MOTUS. 32nd International Society for Magnetic Resonance in Medicine (ISMRM), 4-9 May, Singapore, Abstract 0629 (2024)
            <p> Santinha J, Correia T. Radiomics Predictive Model of Myocardial Infarction and Microvascular Obstruction. 4th ISMRM Iberian Chapter Annual Meeting, 2-3 July, Porto, Portugal, P61 (2024)
            <p> Santos J, et al. Development of a deep-learning tool for automatic Cardiac CMR planning.  4th ISMRM Iberian Chapter Annual Meeting, 2-3 July, Porto, Portugal, P59 (2024)
            <p> Amil M, et al. Accelerating Cardiac Magnetic Resonance T1-Mapping using an Efficient Deep Learning Reconstruction. 4th ISMRM Iberian Chapter Annual Meeting, 2-3 July, Porto, Portugal, P55 (2024)
            <p> Gaspar A, et al. T1 mapping with radial Open-MOLLI. 4th ISMRM Iberian Chapter Annual Meeting, 2-3 July, Porto, Portugal, P40 (2024)
            <p> Carvalho C, et al. Accelerated MRI Parametric Mapping with PENGUIN. 4th ISMRM Iberian Chapter Annual Meeting, 2-3 July, Porto, Portugal, O1 (2024)

            <p> Moya-Sáez E, et al. A comparative analysis of different respiratory motion correction approaches in free-breathing first-pass perfusion cardiac MR. 4th ISMRM Iberian Chapter Annual Meeting, 2-3 July, Porto, Portugal, P48 (2024)
            <p> Villacorta-Aylagas P, et al. A KomaMRI Phantom Extension for Integrated Dynamic Imaging.  32nd International Society for Magnetic Resonance in Medicine (ISMRM), 4-9 May, Singapore, Abstract 4684 (2024)

            <p> Santinha J, Correia T. RAMI: Radiomics Predictive Model of Myocardial Infarction and Microvascular Obstruction.  32nd International Society for Magnetic Resonance in Medicine (ISMRM), 4-9 May, Singapore, Abstract 3386 (2024)
            <p> Gaspar A, et al. Test-retest of open-source inversion recovery myocardial T1 mapping sequence (Open-MOLLI) for fast prototyping. 19th European Molecular Imaging Meeting (EMIM), 12-15 March, Porto, Portugal, Abstract TECH-052 (2024)

            <p> Moya-Sáez E, et al.Post-contrast multi-parametric mapping from only pre-contrast conventional weighted images. 32nd International Society for Magnetic Resonance in Medicine (ISMRM), 4-9 May, Singapore, Abstract 2809 (2024)
            <p> Carvalho C, et al. Integrating Quantitative Mapping into Physics-Based Deep Learning for Improved Accelerated Image Reconstruction. 32nd International Society for Magnetic Resonance in Medicine (ISMRM), 4-9 May, Singapore, Abstract 4505 (2024)
            <p> M Ángel Martín-Fernández, P Irarrazaval, C Castillo-Passi, C Alberola-López. Optimal isochromat frequencies for T2* spin-level simulation. ESMRMB  annual meeting P229 (2023).

            <p> Moya-Sáez E, et al. Deep learning-based post-contrast imaging free of exogenous contrast agents.  3rd ISMRM Iberian Chapter Annual Meeting, 3-5 July, Valladolid, Spain,  P1.13 (2023).


            <p> M Ángel Martín-Fernández, P Irarrazaval, C Castillo-Passi, C Alberola-López. Efficient T2* spin-level simulation. 3rd ISMRM Iberian Chapter meeting,P2.9 (2023).

            <!--<p>  E Moya-Sáez,R Luis-García, C Alberola-López, J Hernández-Tamames. Deep learning-based post-contrast imaging free of exogenous contrast agents. 3rd ISMRM Iberian Chapter meeting, P1.13 (2023). 04/07/2023-->

    <!--<p>   Pre and Post contrast Simultaneous Parametric Mapping of Glioblastomas from T1w images  -->

            <p> J Rodríguez-Galván, S Merino-Caviedes, D Filgueiras-Rama, J Sánchez-González, A Tristán-Vega, C Alberola-López. Beyond DTI: Higher order models in Cardiac dMRI. 3rd ISMRM Iberian Chapter meeting, P1.16 (2023).


            <p> J Rodríguez-Galván, S Merino-Caviedes, D Filgueiras-Rama, J Sánchez-González, A Tristán-Vega, C Alberola-López. Applying diffusion signal representation further than DTI improves cardiac dMRI insights. 31th ISMRM meeting (2023).

            <p> A Gaspar, N ASilva, A Ferreira, R Nunes. Repeatability of Open-source inversion recovery myocardial T1 mapping sequence (Open-MOLLI) for fast prototyping.3rd ISMRM Iberian Chapter meeting (2023). </p>

            <p> C Carvalho, R Nunes, T Correia. Diving into Extended Phase Graph-based Deep Learning for Accurate and Fast T2 Mapping with PENGUIN. 3rd ISMRM Iberian Chapter meeting (2023). <a href="https://doi.org/10.5281/zenodo.10413035">https://doi.org/10.5281/zenodo.10413035</a>.  </p>

            <p> A Gaspar, N ASilva, A Ferreira, R Nunes. Repeatability of ProMyoT1: an open-source inversion recovery myocardial T1 mapping sequence for fast prototyping. 31th ISMRM meeting. (2023). <a href="https://welcome.isr.tecnico.ulisboa.pt/wp-content/uploads/2023/03/ISMRM2023_abstract_AndreiaGaspar_Repeatability.pdf">PDF</a>
            <p> T Correia. MR Techniques for Quantifying Myocardial Perfusion. 31th ISMRM meeting, 4505. (2023).  <a href="https://doi.org/10.5281/zenodo.10418111">https://doi.org/10.5281/zenodo.10418111</a>

            <p> C Carvalho, R Nunes, T Correia. Diving into Extended Phase Graph-based Deep Learning for accurate T2 mapping with PENGUIN. 31th ISMRM meeting, 1090 (2023). <a href="https://doi.org/10.5281/zenodo.10413082">https://doi.org/10.5281/zenodo.10413082</a>  </p>
            <p> Moya-Sáez E, et al.Pre and Post contrast Simultaneous Parametric Mapping of Glioblastomas from T1w images for Quantitative Enhancement Assessment. 31st International Society for Magnetic Resonance in Medicine (ISMRM), 3-8 June, Toronto, Canada, Abstract 2352 (2023).

            <p> P Osório, M Henningsson, H Alberto Gomez, R Nunes, T Correia. DeepCardioPlanner: Deep Learning-based tool for automatic CMR planning. 31th ISMRM meeting, 5134 (2023). <a href=" https://doi.org/10.5281/zenodo.10419711">https://doi.org/10.5281/zenodo.10419711</a>  </p>

            <p> E Martín-González, E Alskaf, A Chiribiri, P Casaseca-de-la-Higuera, C Alberola-López, R Nunes, T Correia. The deep SECRET to accelerated first-pass perfusion cardiac MRI. 30th ISMRM meeting, 299 (2022). </p>
            <br/>
        </div>
  </div>


  <h4>Oral Presentations</h4>
  <div class="row">
      <div class="col-lg-12 col-lg">
          <br/>
          <p> Correia T. The need for speed: accelerating cardiac magnetic resonance exams and beyond. 19th European Molecular Imaging Meeting (EMIM), 12-15 March, Porto, Portugal, Abstract Welcome to Portugal!-03 (2024)
          <p> Santinha J, Correia T. RAMI: Radiomics for LGE Assessment of Myocardial Infarction and Microvascular Obstruction, J Cardiovasc Mag Res 26(1) (2024)
          <p> Carvalho C, et al. Improving Accelerated MRI Reconstruction and Parametric Mapping with PENGUIN.19th European Molecular Imaging Meeting (EMIM), 12-15 March, Porto, Portugal (2024). </p>
          <p> T Correia. Cardiac Perfusion MRI. ISMRM Iberian Chapter Talk. 15 December 2023.
          <p> A Gaspar, N ASilva, A Ferreira, R Nunes. Repeatability of Open-source inversion recovery myocardial T1 mapping sequence (Open-MOLLI) for fast prototyping.3rd ISMRM Iberian Chapter meeting (2023). </p>
          <p> C Carvalho, R Nunes, T Correia. Diving into Extended Phase Graph-based Deep Learning for accurate T2 mapping with PENGUIN. 31th ISMRM meeting, 1090 (2023). <a href="https://doi.org/10.5281/zenodo.10413082">https://doi.org/10.5281/zenodo.10413082</a>  </p>


        </div>
  </div>

</section>
