
<!-- People Section -->
<section id="people" class="container ">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-5 col-sm-push-18  col-sm-6">
                    <!--   <hr class="section-heading-spacer">-->
                  <div class="clearfix"></div>

                    <h1 class="section-heading">People </h1>
                  <!--   <div class="lead"><p>Team </p>
</div>-->
                </div>
                <div class="col-lg-10 col-lg-offset-1 col-sm-pull-17  col-sm-6">
                  <img class="img-responsive" src="img/services/PIs_picture.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="row">
        <div class="col-lg-12 col-lg">
            <br/>
            <p><a href="https://www.ccmar.ualg.pt/users/tmcorreia">Teresa Matias Correia</a> (Project Leader)- Centro de Ciências do Mar (CCMAR)<p>
            <p> <a href="https://welcome.isr.tecnico.ulisboa.pt/author/ritanunes/">Rita Nunes</a>  - Associação do Instituto Superior Técnico para a Investigação e Desenvolvimento (IST-ID)<p>
            <p><a href="https://www.lpi.tel.uva.es/carlos">Carlos Alberola-López</a> - University of Valladolid (UVal)  <p>
            <p><a href="https://www.cnic.es/en/borja-ibanez-cabeza">Borja Ibáñez</a>  - Centro Nacional de Investigaciones Cardiovasculares Carlos III  (CNIC)<p>

            <br/>
          </div>
    </div>

    <h4>Team</h4>
    <div class="row">
        <div class="col-lg-12 col-lg">
            <br/>
            <p>Andreia S Gaspar  (Research Fellow) - IST <p>
            <p> Elisa Moya Sayez  (Research Fellow) - UVal<p>
            <p>Catarina Carvalho (PhD Student)- IST/CCMAR  <p>
            <p>Javier Sánchez González -  Philips Healthcare Iberia <p>
            <p>Carlos Galán Arriola (Clinical Team) - CNIC <p>
            <p>Carlos Real  Jimerez (Clinical Team) - CNIC <p>


              <br/>
        </div>
  </div>
</section>
