
<!-- People Section -->
<section id="people" class="container ">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">People 📰</h2>
                    <div class="lead"><p>DIREQT2Heart’s journal publications and conference proceedings </p>
</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/services/publications.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="row">
        <div class="col-lg-12 col-lg">
            <br/>
            T Ismail, W Strugnell, C Coletti, M Božic-Iven, S Weingärtner, K Hammernik, T Correia<sup>†</sup>, T Küstner<sup>†</sup>. Cardiac MR: From Theory to Practice <em>Front Cardiovasc Med</em> 9, 826283 (2022). <a href="https://doi.org/10.3389/fcvm.2022.826283">https://doi.org/10.3389/fcvm.2022.826283</a></p>


            <br/>
          </div>
    </div>

    <h4>Conference Proceedings</h4>
    <div class="row">
        <div class="col-lg-12 col-lg">
            <br/>

              <br/>
        </div>
  </div>
</section>
