<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="css/recent-news-boxes.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<section class="recentNews">
  <div class="container">

    <div class="clearfix"></div>
    <h2 class="news-title">Recent News</h2>
    <div class="row">
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://observador.pt/programas/mentes-brilhantes/melhores-imagens-menos-enfartes/"><img alt="News Entry" src="/img/services/mehores_imagens_menos_enfartes.png"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>Dec 2025</span><strong>15</strong>
            </div>
            <h3 class="ct-blog-header">
              Melhores imagens, menos enfartes
            </h3>
          </div>
        </div>
      </div>

      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://blog.caixaresearch.org/en/how-old-is-your-heart/"><img alt="News Entry" src="/img/services/Caixa_news_3.png"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>Sep 2025</span><strong>26</strong>
            </div>
            <h3 class="ct-blog-header">
              How old is your heart?
            </h3>
          </div>
        </div>
      </div>

      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://www.linkedin.com/posts/teresakcl_ismrm2025-ismrt2025-mri-activity-7328998910792777728-dw-B?utm_source=share&utm_medium=member_desktop&rcm=ACoAACIJrUQB8CqB0BauCtVZQdJJdMHYabzWtKs"><img alt="News Entry" src="/img/services/direqt2heart_ismrm2025.png"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>May 2025</span><strong>15</strong>
            </div>
            <h3 class="ct-blog-header">
               DIREQT2Heart team at #ISMRM2025 in Honolulu, Hawaii
            </h3>
          </div>
        </div>
      </div>
      



      
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://blog.caixaresearch.org/prevencion-diagnostico-y-tratamiento-cuidado-del-corazon/"><img alt="News Entry" src="/img/services/Caixa_news_2.png"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>Sep 2023</span><strong>29</strong>
            </div>
            <h3 class="ct-blog-header">
              Prevención, diagnóstico y tratamiento: la ciencia se vuelca en el cuidado del corazón
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://www.lavanguardia.com/ciencia/20230417/8899952/como-mejorar-deteccion-precoz-enfermedades-coronarias.html"><img alt="News Entry" src="https://www.lavanguardia.com/files/image_948_465/uploads/2023/01/05/63b7048fd3c35.jpeg"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>Apr 2023</span><strong>17</strong>
            </div>
            <h3 class="ct-blog-header">
              ¿Cómo mejorar la detección precoz de las enfermedades coronarias?
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://ionline.sapo.pt/artigo/790777/a-ci-ncia-a-descoberta-dos-segredos-do-coracao?seccao=Opiniao_i"><img alt="News Entry" src="https://cdn1.newsplex.pt/media/2023/1/24/842759.jpg?type=artigo"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>Jan 2023</span><strong>24</strong>
            </div>
            <h3 class="ct-blog-header">
              A ciência à descoberta do coração
            </h3>
          </div>
        </div>
      </div>


      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://observador.pt/programas/mentes-brilhantes/melhores-imagens-para-melhores-diagnosticos/"><img alt="News Entry" src="/img/services/Melhores imagens para melhores diagnósticos.png"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>Dec 2022</span><strong>11</strong>
            </div>
            <h3 class="ct-blog-header">
              Melhores imagens para melhores diagnósticos
            </h3>
          </div>
        </div>
      </div>

      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://observador.pt/2022/12/05/e-se-a-ressonancia-magnetica-pudesse-fazer-imagens-melhores/"><img alt="News Entry" src="https://bordalo.observador.pt/v2/q:84/c:4096:2303:nowe:0:213/rs:fill:980/f:webp/plain/https://s3.observador.pt/wp-content/uploads/2022/12/06130656/ffa-h7a1270-scaled.jpg"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>Dec 2022</span><strong>5</strong>
            </div>
            <h3 class="ct-blog-header">
              E se a ressonância magnética pudesse fazer imagens melhores?
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://ismrm-iberian.eu/2022/09/23/IberiansChapterMelbersWinLaCaixaGrant.html"><img alt="News Entry" src="./img/IberianChapterMembersWinLaCaixaGrant.png"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>Sep 2022</span><strong>1</strong>
            </div>
            <h3 class="ct-blog-header">
              Iberian Consortium Awarded a “la Caixa” Foundation Health Research Grant
            </h3>
          </div>
        </div>
      </div>

      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://comunicacion.uva.es/es_ES/detalle/La-Fundacion-la-Caixa-apoya-un-proyecto-de-investigacion-para-el-diagnostico-rapido-de-la-cardiopatia-coronaria-con-el-fin-de-prevenir-la-mortalidad-precoz-en-el-que-participa-la-UVa/"><img alt="News Entry" src="https://comunicacion.uva.es/es_ES/_imagenes/Premio-Radiologia-Alberola-primer-plano-.jpg?__scale=w:941,h:626"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>Sep 2022</span><strong>21</strong>
            </div>
            <h3 class="ct-blog-header">
              La Fundación "la Caixa" apoya un proyecto de investigación para el diagnóstico rápido de la cardiopatía coronaria con el fin de prevenir la mortalidad precoz en el que participa la UVa
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://www.ccmar.ualg.pt/news/teresa-correia-vence-concurso-caixaresearch-de-investigacao-em-saude-2022"><img alt="News Entry" src="https://www.ccmar.ualg.pt/sites/ccmar.ualg.pt/files/styles/slideshow_detail/public/news/images/design_sem_nome_2.png?itok=Abb8KKih"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>Sep 2022</span><strong>20</strong>
            </div>
            <h3 class="ct-blog-header">
              Teresa Correia vence concurso CaixaResearch de Investigação em Saúde 2022
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://prensa.fundacionlacaixa.org/es/2022/09/20/la-fundacion-la-caixa-destina-mas-de-23-millones-de-euros-a-33-nuevos-proyectos-de-investigacion-en-biomedicina-y-salud-en-espana-y-portugal/"><img alt="News Entry" src="https://prensa.fundacionlacaixa.org/wp-content/uploads/2022/09/Teresa-Matias-Correia.jpeg"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>Sep 2022</span><strong>20</strong>
            </div>
            <h3 class="ct-blog-header">
              La Fundación ”la Caixa” destina más de 23 millones de euros a 33 nuevos proyectos de investigación en biomedicina y salud en España y Portugal
            </h3>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
