<!-- Publications Section -->
    <section id="people" class="container ">
        <div class="content-section-b">

            <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">People 📰</h2>
                        <div class="lead">
                        <p>Teresa Matias Correia (Project Leader) CCMAR<p>
                        <p>Rita Nunes - IST/ISR<p>
                        <p>Carlos Alberola-López - University of Valladolid<p>
                        <p>Borja Ibáñez - CNIC<p>
                        <p><a href="./people/"> &#128073 Full team</a>
                        </p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                      <img class="img-responsive" src="img/services/PIs_picture.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-b -->

        <div class="row">
            <div class="col-lg-12 col-lg">
                <br/>

                <p>Andreia S Gaspar  (Research Fellow) - IST <p>
                <p> Elisa Moya Sayez  (Research Fellow) - UVal<p>
                <p>Catarina Carvalho (PhD Student)- IST/CCMAR  <p>
                <p>Javier Sánchez González - Phillips <p>
                <p>Carlos Galán Arriola (Clinical Team) - CNIC <p>
                <p>Carlos Real  Jimerez (Clinical Team) - CNIC <p>


                <br/>

              </div>

        </div>

    </section>
