<!-- Publications Section -->
    <section id="people" class="container ">
        <div class="content-section-b">

            <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">People 📰</h2>
                        <div class="lead"><p>Teresa Matias Correia from CCMAR

                          Rita Nunes from Associação do Instituto Superior Técnico para a Investigação e Desenvolvimento (ISR)

                          Carlos Alberola-López from University of Valladolid

                          Borja Ibáñez from Centro Nacional de Investigaciones Cardiovasculares Carlos III (CNIC). </p>
                        <p><a href="./people/"> &#128073 Full team</a>
                        </p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                      <img class="img-responsive" src="img/services/PIs_picture.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-b -->

        <div class="row">
            <div class="col-lg-12 col-lg">
                <br/><p>Andreia S Gaspar  (Research Fellow) - IST <p>
                <p> Elisa  (Research Fellow) - UVal<p>   
                  <p>Catarina Carvalho (PhD Student)- IST/CCMAR  <p>
                <p>Carlos Real  <p>
                <br/>

              </div>

        </div>

    </section>
