<!-- Publications Section -->
    <section id="publications" class="container ">
        <div class="content-section-b">

            <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Publications 📰</h2>
                        <div class="lead"><p>Journal publications and conference proceedings </p>
                        <p><a href="./publications/"> &#128073 Full list</a>
                        </p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                      <img class="img-responsive" src="img/services/publications.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-b -->

        <div class="row">
            <div class="col-lg-12 col-lg">
                <br/>
                Ismail TF, Strugnell W, Coletti C, <em>et al</em>. Cardiac MR: From Theory to Practice <em>Front Cardiovasc Med</em> 9, 826283 (2022). <a href="https://doi.org/10.3389/fcvm.2022.826283">https://doi.org/10.3389/fcvm.2022.826283</a></p>
                Tourais J, Scannell C, Schneider T <em>et al</em>. High-Resolution Free-Breathing Quantitative First-Pass Perfusion Cardiac MR Using Dual-Echo Dixon With Spatio-Temporal Acceleration <em>Front Cardiovasc Med</em> 9, 884221 (2022). <a href="https://doi.org/10.3389/fcvm.2022.884221">https://doi.org/10.3389/fcvm.2022.884221</a></p>
                Lalande A, Chen Z, Pommier T <em>et al</em>. Deep learning methods for automatic evaluation of delayed enhancement-MRI. The results of the EMIDEC challenge <em>Med Image Anal</em> 79, 102428 (2022). <a href="https://doi.org/10.1016/j.media.2022.102428">https://doi.org/10.1016/j.media.2022.102428</a></p>
                Martín-González E, Alskaf E, Chiribiri A <em>et al</em>. Physics-Informed Self-supervised Deep Learning Reconstruction for Accelerated First-Pass Perfusion Cardiac MRI. In: Haq N., Johnson P., Maier A., Würfl T., Yoo J. (eds) Machine Learning for Medical Image Reconstruction. MLMIR 2021. Lecture Notes in Computer Science, vol 12964. Springer, Cham. <a href="https://doi.org/10.1007/978-3-030-88552-6_9">https://doi.org/10.1007/978-3-030-88552-6_9</a> </p>
                
                <br/>
              </div>
        </div>
    </section>
