<!-- Publications Section -->
<!-- <link href="css/bootstrap_publication.css" rel="stylesheet">-->
    <section id="publications" class="container ">
        <div class="content-section-b">

            <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Publications 📰</h2>
                        <div class="lead"><p>Journal publications and conference proceedings </p>
                        <p><a href="./publications/"> &#128073 Full list</a>
                        </p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                      <img class="img-responsive" src="img/services/publications.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-b -->

        <h4>Top Five Journal Paper</h4>
          <div class="row">
              <div class="col-lg-12 col-lg">
                  <br/>
                    <p> E Moya-Sáez, RM Menchón-Lara, J Sánchez-González, CN Carvaho, A Gaspar, C Real, C Galán-Arriola, RG Nunes, B Ibanez, TM Correia, C Alberola-López. K-CC-MoCo: a fast k-space-based respiratory motion correction for highly accelerated first-pass perfusion cardiovascular MR. Magn Reson Med 2026; 1–14. <a href="https://doi.org/10.1002/mrm.70287">https://doi.org/10.1002/mrm.70287</a>.

                    <!--<p> R Párraga, C Real, R Fernández-Jiménez. Cardiovascular magnetic resonance in the working diagnosis of MINOCA: the sooner, the better?. Rev Esp Cardiol (Engl Ed.) 2024; 77(7):524-526. <a href="https://doi.org/10.1016/j.rec.2023.12.013">https://doi.org/10.1016/j.rec.2023.12.013</a>.-->

                    <p> A Devesa, V Fuster, I García-Lunar, B Oliva, A García-Alvarez, A Moreno-Arciniegas, R Vazirani, C Pérez-Herreras, P Marina, H Bueno, L Fernández-Friera, A Fernández-Ortiz, J Sanchez-Gonzalez, B Ibanez. Coronary Microvascular Function in Asymptomatic Middle-Aged Individuals With Cardiometabolic Risk Factors. JACC Cardiovasc Imaging 2024; S1936-878X(24):00342-5. <a href="https://doi.org/10.1016/j.jcmg.2024.08.002">https://doi.org/10.1016/j.jcmg.2024.08.002</a>.

                   <p> A Gaspar, NA Silva, AM Ferreira, RG Nunes. Repeatability of Open-MOLLI: An open-source inversion recovery myocardial T1 mapping sequence for fast prototyping. Magn Reson Med. 2024; 92: 741-750. <a href="https://doi.org/10.1002/mrm.30080">https://doi.org/10.1002/mrm.30080</a>.

                   
                    <p> T Correia. Inteligência artificial na ressonância magnética cardíaca – o impulso que faltava? LIFESAVING Magazine #29 <a href="https://doi.org/10.5281/zenodo.10418257">https://doi.org/10.5281/zenodo.10418257</a>.

                    <!--<p> M Obando, A Bassi, N Ducros, G Mato, Teresa M. Correia. ToMoDL: A model-based deep learning framework for optical projection tomography. <a href="https://doi.org/10.21203/rs.3.rs-3318045/v1">https://doi.org/10.21203/rs.3.rs-3318045/v1</a>.-->

                    <p> M Obando, A Bassi, N Ducros, G Mato, Teresa M. Correia. Model-based deep learning framework for accelerated optical projection tomography. Sci Rep 13, 21735 (2023).   <a href="https://doi.org/10.1038/s41598-023-47650-3">https://doi.org/10.1038/s41598-023-47650-3</a>.</p>

                  <!-- T Ismail, W Strugnell, C Coletti, M Božic-Iven, S Weingärtner, K Hammernik, T Correia<sup>†</sup>, T Küstner<sup>†</sup>. Cardiac MR: From Theory to Practice <em>Front Cardiovasc Med</em> 9, 826283 (2022). <a href="https://doi.org/10.3389/fcvm.2022.826283">https://doi.org/10.3389/fcvm.2022.826283</a></p> -->

                  <br/>
                </div>
          </div>

        
    </section>
