<!-- Publications Section -->
    <section id="publications" class="container ">
        <div class="content-section-b">

            <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Publications 📰</h2>
                        <div class="lead"><p>Journal publications and conference proceedings </p>
                        <p><a href="./publications/"> &#128073 Full list</a>
                        </p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                      <img class="img-responsive" src="img/services/publications.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-b -->

        <h4>Journal paper</h4>
          <div class="row">
              <div class="col-lg-12 col-lg">
                  <br/>

                    <p> T Correia. Inteligência artificial na ressonância magnética cardíaca – o impulso que faltava? LIFESAVING Magazine #29 <a href="https://doi.org/10.5281/zenodo.10418257">https://doi.org/10.5281/zenodo.10418257</a>.

                    <p>   M Obando, A Bassi, N Ducros, G Mato, Teresa M. Correia. ToMoDL: A model-based deep learning framework for optical projection tomography. <a href="https://doi.org/10.21203/rs.3.rs-3318045/v1">https://doi.org/10.21203/rs.3.rs-3318045/v1</a>.

                    <p>   M Obando, A Bassi, N Ducros, G Mato, Teresa M. Correia. Model-based deep learning framework for accelerated optical projection tomography. Sci Rep 13, 21735 (2023).   <a href="https://doi.org/10.1038/s41598-023-47650-3">https://doi.org/10.1038/s41598-023-47650-3</a>.</p>

                  <!-- T Ismail, W Strugnell, C Coletti, M Božic-Iven, S Weingärtner, K Hammernik, T Correia<sup>†</sup>, T Küstner<sup>†</sup>. Cardiac MR: From Theory to Practice <em>Front Cardiovasc Med</em> 9, 826283 (2022). <a href="https://doi.org/10.3389/fcvm.2022.826283">https://doi.org/10.3389/fcvm.2022.826283</a></p> -->

                  <br/>
                </div>
          </div>

          <h4>Conference Proceedings</h4>
          <div class="row">
              <div class="col-lg-12 col-lg">
                  <br/>

                  <p> M Ángel Martín-Fernández, P Irarrazaval, C Castillo-Passi, C Alberola-López. Optimal isochromat frequencies for T2* spin-level simulation. ESMRMB  annual meeting P229 (2023).

                  <p> M Ángel Martín-Fernández, P Irarrazaval, C Castillo-Passi, C Alberola-López. Efficient T2* spin-level simulation. 3rd ISMRM Iberian Chapter meeting,P2.9 (2023).

                  <!--<p>  E Moya-Sáez,R Luis-García, C Alberola-López, J Hernández-Tamames. Deep learning-based post-contrast imaging free of exogenous contrast agents. 3rd ISMRM Iberian Chapter meeting, P1.13 (2023). 04/07/2023-->

          <!--<p>   Pre and Post contrast Simultaneous Parametric Mapping of Glioblastomas from T1w images  -->

                  <p> J Rodríguez-Galván, S Merino-Caviedes, D Filgueiras-Rama, J Sánchez-González, A Tristán-Vega, C Alberola-López. Beyond DTI: Higher order models in Cardiac dMRI. 3rd ISMRM Iberian Chapter meeting, P1.16 (2023).


                  <p> J Rodríguez-Galván, S Merino-Caviedes, D Filgueiras-Rama, J Sánchez-González, A Tristán-Vega, C Alberola-López. Applying diffusion signal representation further than DTI improves cardiac dMRI insights. 31th ISMRM meeting (2023).

                  <p> A Gaspar, N ASilva, A Ferreira, R Nunes. Repeatability of Open-source inversion recovery myocardial T1 mapping sequence (Open-MOLLI) for fast prototyping.3rd ISMRM Iberian Chapter meeting (2023). </p>

                  <p> C Carvalho, R Nunes, T Correia. Diving into Extended Phase Graph-based Deep Learning for Accurate and Fast T2 Mapping with PENGUIN. 3rd ISMRM Iberian Chapter meeting (2023). <a href="https://doi.org/10.5281/zenodo.10413035">https://doi.org/10.5281/zenodo.10413035</a>.  </p>

                  <p> A Gaspar, N ASilva, A Ferreira, R Nunes. Repeatability of ProMyoT1: an open-source inversion recovery myocardial T1 mapping sequence for fast prototyping. 31th ISMRM meeting. (2023). <a href="https://welcome.isr.tecnico.ulisboa.pt/wp-content/uploads/2023/03/ISMRM2023_abstract_AndreiaGaspar_Repeatability.pdf">PDF</a>
                  <p> T Correia. MR Techniques for Quantifying Myocardial Perfusion. 31th ISMRM meeting, 4505. (2023).  <a href="https://doi.org/10.5281/zenodo.10418111">https://doi.org/10.5281/zenodo.10418111</a>

                  <p> C Carvalho, R Nunes, T Correia. Diving into Extended Phase Graph-based Deep Learning for accurate T2 mapping with PENGUIN. 31th ISMRM meeting, 1090 (2023). <a href="https://doi.org/10.5281/zenodo.10413082">https://doi.org/10.5281/zenodo.10413082</a>  </p>

                  <p> P Osório, M Henningsson, H Alberto Gomez, R Nunes, T Correia. DeepCardioPlanner: Deep Learning-based tool for automatic CMR planning. 31th ISMRM meeting, 5134 (2023). <a href=" https://doi.org/10.5281/zenodo.10419711">https://doi.org/10.5281/zenodo.10419711</a>  </p>

                  <p> E Martín-González, E Alskaf, A Chiribiri, P Casaseca-de-la-Higuera, C Alberola-López, R Nunes, T Correia. The deep SECRET to accelerated first-pass perfusion cardiac MRI. 30th ISMRM meeting, 299 (2022). </p>
                  <br/>
              </div>
        </div>


        <h4>Oral Presentations</h4>
        <div class="row">
            <div class="col-lg-12 col-lg">
                <br/>
                <p> T Correia. Cardiac Perfusion MRI. ISMRM Iberian Chapter Talk. 15 December 2023.
              </div>
        </div>
    </section>
